<% content_for :title, "Profiles" %>

<h1>Profiles</h1>

<div id="profiles">
  <% @skills.each do |skill| %>
    <%= render skill %>
    <p>
      <%= link_to "Show this profile", skill %>
    </p>
  <% end %>
</div>

<%= link_to "New profile", new_profile_path %>
