<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name.titleize %>
  </p>

  <% User.with_skill(skill).each do |user| %>
    <%# TODO: link to user profile page once implemented %>
    <p>
    <%= link_to "View #{user.first_name}'s Profile", profile_path(user) %>
    </p>
  <% end %>
</div>
