<div id="<%= dom_id project %>" class="project-card">
  <div style="display: flex; gap: 24px; align-items: flex-start;">
    <p>
      <strong>Title:</strong>
      <%= project.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= project.description %>
    </p>
  </div>
</div>
